<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'tournament.newteammatch' %}" method="post">
        <label for="batscore">Enter score: </label>
        <input type="text" name="batscore" id="batscore"><br>
        <label for="batwicket">Enter number of wickets: </label>
        <input type="text" name="batwicket" id="batwicket"><br>
        <label for="batovers">Enter number of overs: </label>
        <input type="text" name="batovers" id="batovers"><br>
        <label for="teamname">Select the Team: </label>
        <select name="teamname" id="teamname">
            <option value="team1">Team1</option>
            <option value="team2">Team2</option>
            <option value="team3">Team3</option>
            <option value="team4">Team4</option>
            <option value="team5">Team5</option>
            <option value="team6">Team6</option>
            <option value="team7">Team7</option>
            <option value="team8">Team8</option>
            <option value="team9">Team9</option>
            <option value="team10">Team10</option>
        </select><br>
        <label for="match">Select the Match: </label>
        <select name="match" id="match">
            <option value="team1">Team1</option>
            <option value="team2">Team2</option>
            <option value="team3">Team3</option>
            <option value="team4">Team4</option>
            <option value="team5">Team5</option>
            <option value="team6">Team6</option>
            <option value="team7">Team7</option>
            <option value="team8">Team8</option>
            <option value="team9">Team9</option>
            <option value="team10">Team10</option>
        </select>
        <br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>