<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if team_list %}
    <table>
        <th>Team</th>
        <th>M</th>
        <th>W</th>
        <th>L</th>
        <th>Pts</th>
        {% for teaminfo in team_list %}
        <tr>
            <td><a href="{% url 'tournament:detail' teaminfo.id %}">{{teaminfo.country}}</a></td>
            <td>{{teaminfo.matches}}</td>
            <td>{{teaminfo.won}}</td>
            <td>{{teaminfo.lost}}</td>
            <td>{{teaminfo.won}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br>
    <br>
    <a href="{% url 'tournament:new' %}">Create new entry</a>
</body>
</html>